<template>
  <div class="loader" v-if="isShown">
    <div class="loading_text">
      {{msg}}
    </div>
    <div class="loading self-building-square-spinner">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
  </div>
</template>

<script>
import { events } from './events.js'
export default {
  name: 'Loader',
  computed: {
    isShown: function() {
      if (typeof this.msg !== 'undefined')
        return this.msg.length > 0;
      return false;
    }
  },
  data() {
    return {
      msg : ""
    }
  },
  mounted () {
    events.$on('setMsg', this.setMsg);
  },
  updated: function () {
  },
  methods : {
    setMsg: function(msg) {
      this.msg = msg;
    }
  }
}
</script>

<style>
</style>
