<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="By leveraging the power of Ethereum Blockchain, you can publish anything you want without control of any entity.">
    <meta name="author" content="Dave Santos">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@the_dave_santos"/>
    <meta name="twitter:title" content="NoteChain | Write Without Limits!"/>
    <meta name="twitter:description" content="By leveraging the power of Ethereum Blockchain, you can publish anything you want without control of any entity."/>
    <meta name="twitter:image" content="https://notechain.org/img/share.png"/>
    <meta name="twitter:url" content="https://notechain.org"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="NoteChain"/>
    <meta property="og:title" content="NoteChain | Write Without Limits!"/>
    <meta property="og:description" content="By leveraging the power of Ethereum Blockchain, you can publish anything you want without control of any entity."/>
    <meta property="og:image" content="https://notechain.org/img/share.png"/>
    <meta property="og:url" content="https://notechain.org"/>

    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <title>NoteChain - Write Without Limits</title>
    <style>
      /* montserrat-regular - latin */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
        src: local('Montserrat Regular'), local('Montserrat-Regular'),
          url('/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('/fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('/fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
      }
      /* montserrat-700 - latin */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
        src: local('Montserrat Bold'), local('Montserrat-Bold'),
          url('/fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('/fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
          url('/fonts/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
      }

      /* Absolute Center Spinner */
      .loading, .loading_text {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .loading_text {
        z-index: 9999;
        top: 5.5em;
        width: 320px;
        font-size: 1em;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 7px #777;
      }

      /* Transparent Overlay */
      .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(69,130,236,0.4);
      }

      /* :not(:required) hides these rules from IE9 and below */
      .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
      }

      .loading:not(:required):after {
        content: '';
        display: block;
        font-size: 20px;
        margin-top: -0.5em;
      }

      .self-building-square-spinner, .self-building-square-spinner * {
      box-sizing: border-box;
    }

    .self-building-square-spinner {
      height: 40px;
      width: 40px;
      top: calc( -10px * 2 / 3);
    }

    .self-building-square-spinner .square {
      height: 10px;
      width: 10px;
      top: calc( -10px * 2 / 3);
      margin-right: calc(10px / 3);
      margin-top: calc(10px / 3);
      background: #fff;
      float: left;
      position:relative;
      opacity: 0;
      animation: self-building-square-spinner 6s infinite;
      box-shadow: 1px 1px 7px #999;
    }

    .self-building-square-spinner .square:nth-child(1) {
      animation-delay: calc(250ms * 6);
    }

    .self-building-square-spinner .square:nth-child(2) {
      animation-delay: calc(250ms * 7);
    }

    .self-building-square-spinner .square:nth-child(3) {
      animation-delay: calc(250ms * 8);
    }

    .self-building-square-spinner .square:nth-child(4) {
      animation-delay: calc(250ms * 3);
    }

    .self-building-square-spinner .square:nth-child(5) {
      animation-delay: calc(250ms * 4);
    }

    .self-building-square-spinner .square:nth-child(6) {
      animation-delay: calc(250ms * 5);
    }

    .self-building-square-spinner .square:nth-child(7) {
      animation-delay: calc(250ms * 0);
    }

    .self-building-square-spinner .square:nth-child(8) {
      animation-delay: calc(250ms * 1);
    }

    .self-building-square-spinner .square:nth-child(9) {
      animation-delay: calc(250ms * 2);
    }

    .self-building-square-spinner .clear{
      clear: both;
    }

    @keyframes self-building-square-spinner {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
        top: 0;
      }
      50.9% {
        opacity: 1;
        top: 0;
      }
      55.9% {
        opacity: 0;
        top: inherit;
      }
    }
      </style>
      <link rel="stylesheet" href="/css/bootstrap.min.css" media="none" data-async="true"  onload="if(media!='all')media='all'">
      <link rel="stylesheet" href="/css/materialdesignicons.min.css" media="none" data-async="true"  onload="if(media!='all')media='all'">
      <link rel="stylesheet" href="/css/animate.css" media="none" data-async="true"  onload="if(media!='all')media='all'">
      <link rel="stylesheet" href="/css/pretty-checkbox.min.css" media="none" data-async="true" onload="if(media!='all')media='all'" >
      <script>
        window.addEventListener('load', function() {
          let el = document.getElementById("initialLoadingAnimation");
          el.parentNode.removeChild(el);
        })
      </script>
  </head>
  <body>
    <div id="initialLoadingAnimation">
      <div class="loading_text">
        Loading NoteChain...
      </div>
      <div class="loading self-building-square-spinner">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="square clear"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="square clear"></div>
          <div class="square"></div>
          <div class="square"></div>
      </div>
    </div>
    <noscript>
      <h1>We're sorry but NoteChain doesn't work properly without JavaScript enabled. Please enable it to continue.</h1>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
