<template>
    <div class="about content p-20">
        <div class="p-20 ">
            <div class="row">
                <div class="col-md-12 text-center mt-20">
                    <h3>About NoteChain</h3>

                    <p class="mt-20">
                    NoteChain is an app which allow users to write 
                    private and public notes on Ethereum Blockchain.
                    A public note can be easily shared with a unique ID.
                    The note can also be protected by a password so 
                    only the selected one can see it.
                    </p>

                    <p>
                    NoteChain is created by me, my name is Dave Santos, 
                    I'm just an ordinary programmer.
                    I created Notechain because I believe that despite the drawbacks of blockchain technology, 
                    it has many advantages that might be useful for certain use cases.
                    Furthermore, I will get a small amount of Ether (currency in Ethereum Network) if you use NoteChain. 
                    </p>

                </div>
            </div>
        </div>
        <div class="p-20">
            <div class="row">
                <div class="col-md-12 text-center mb-20">
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-6">
                    <h5>Is this an ICO?</h5>
                    <p>
                    No.
                    </p>

                    <h5>Can I trust you?</h5>
                    <p>
                    Trust the code. Even if I want to trick you, I couldn't.
                    If you are not familiar with programming, find someone trustable who can help you to understand the code.
                    Better yet, learn programming a bit and judge the code by yourself.
                    </p>

                    <h5>Can I see the code?</h5>
                    <p>
                    For front-end client, you can see it in 
                        <a target="_blank" href="https://gitlab.com/notechain/front-end-generator">gitlab.com/notechain/ front-end-generator</a>.
                        From there you can check the source code. You can see that there's no secret script to send your precious key or secret notes
                        to me or anyone.
                        You can also generate the front-end and run it in your own computer.
                    </p>
                    <p>
                    As for the back-end (database/smart contract), it can bee seen via 
                    <a target="_blank" :href="'https://etherscan.io/address/'+contract_address+'#code'">etherscan</a> in the code tab.
                    You can see that there's no backdoor or anything that would make me or anyone have super power over your data.
                    And it can never be stopped since there's no self destruct function.
                    </p>

                    <h5>Is it free?</h5>
                    <p>
                    Yes and no. To read notes yes it's 100% free. 
                    But everytime you store data in blockchain, 
                    you have to pay for a execution fee to the network.
                    The execution fee depends on the size of data that you store.
                    On top of that, you have to pay a small amount of fee to me. 
                    My fee is fixed and only several cents, you can consider 
                    it as a little reward for creating this and I thank you for that.
                    </p>

                    <h5>How do you encrypt the notes?</h5>
                    <p>
                    Private notes are encrypted with the hash of your signed message and note's key.
                    Its result is a very unique and formidable password which can only be produced by you.
                    If you keep your private key safe, your notes are safe also.
                    </p>
                    <p>
                    For public encrypted notes, the inputted password is hashed by up to millions times.
                    It's going to take  
                    a substantial amount of time to guess the correct password because 
                    the guesser has to follow the same procedure for each guess.
                    </p>
                    <p>
                    The hash is using sha-256 with dynamic and static salt as for encryption it's done with AES-CTR 256 key bit.
                    To see how exactly it works, please have a look at <em>encryption.js</em> file in
                        <a target="_blank" href="https://gitlab.com/notechain/front-end-generator">gitlab.com/notechain/ front-end-generator</a>.
                    </p>

                    <h5>I lost my key/encryption password. Can you retrieve my notes?</h5>
                    <p>
                    That's impossible, there's no backdoor in the code. 
                    </p>

                    <h5>Are you tracking me?</h5>
                    <p>
                    To respect your privacy, I'm not putting any tracking/web statistic script in NoteChain.
                    I totally don't know how many people visit NoteChain.
                    The web assets are stored in NoteChain so you are not loading fonts from Google or any css from CDN.
                    Yes it maybe a little bit longer to open this website but the benefit is there's no unnecesarry party
                    know you were here. 
                    </p>
                    <p>
                    For the exchange rates, to accurately estimate your cost to store notes, Notechain requests
                    the rate from outside. To make tracking a bit harder, Notechain requests it randomly from one of the exchanges or
                    crypto aggregator websites.
                    </p>

                    <h5>Any tips on using NoteChain?</h5>
                    <p>
                    <ul>
                        <li>You already know this but take care of your private key.</li>
                        <li>Never sign a message that you want to log in to NoteChain in other places.</li>
                        <li>Only use the official or self-hosted NoteChain front-end client.</li>
                        <li>Use a strong and unique password for encrypted public notes.</li>
                    </ul>
                    </p>


                </div>

                <div class="col-md-6">
                    <h5>What do I need to use Notechain?</h5>
                    <p>
                    For reading you just need a browser preferably Safari, Chrome, or Firefox. But for writing you also need:
                    </p>
                    <p>
                    <ul>
                        <li>
                            A digital wallet used specifically with web apps such as
                            <a target="_blank" href="https://metamask.io/">MetaMask</a>
                            or
                            <a target="_blank" href="https://trustwalletapp.com/">Trust</a>.
                            I haven't tried but other wallets might will work.
                        </li>
                        <li>
                            Ether, a form of digital payment that powers NoteChain and Ethereum Blockchain. 
                            You can buy it directly in the wallet.
                        </li>
                    </ul>
                    </p>

                    <h5>Isn't it expensive and slow to store data to Blockchain?</h5>
                    <p>
                    Yes but for certain use cases the benefits overweight the cost. 
                    In the future, Ethereum Network is going to be faster and cheaper 
                    while still maintaining its advantages.
                    </p>
                    <p>But for reading, it's actually very fast! 
                    Try to read my note at 
                    <a :href="URL_root+'#/read/00000'">#0000</a> 
                    </p>

                    <h5>What are the use cases in using NoteChain?</h5>
                    <p>
                    For example if you want to write something that's very private and
                    you are not comfortable with the idea that someone may read it. 
                    </p>
                    
                    </p>Or you are publishing something you want
                    to be able to be read by anyone but 
                    can't never be taken down by anyone forever. 
                    There are many, use your imagination :) 
                    </p>
                    In one of my notes, i use it to store my key here
                    <a :href="URL_root+'#/read/e55e4'">#e55e4</a>.
                    I set it as public so I can access it anywhere and anytime even without my wallet.
                    However it's securely encrypted so it won't be opened by anyone. 
                    And because it's stored forever in blockchain, I'm not afraid that someday 
                    I lost my access to the key if NoteChain is dead. 
                    I just need to remember the password to open it.
                    </p>

                    <h5>If blockchain is permanent, can I still modify my notes?</h5>
                    <p>
                    Yes. You can update or delete your notes in NoteChain. 
                    But old notes are still stored in Blockchain. The notes are 
                    securely encrypted so it's not easy to be read.
                    </p>

                    <h5>How does it compare to Evernote or Google Keep?</h5>

                    <p>
                    The code that run both services are not known to the public.
                    You have to completely trust them that they don't have a backdoor 
                    to secretly read or remove your notes. You should also trust that they 
                    don't go out of business and shut down they their servers.
                    </p>
                    <p>
                    NoteChain on the other hand is transparent.
                    You can see the whole code for front-end and back-end.
                    Due to the nature of a distributed app such as NoteChain, 
                    the code that you see is also
                    the one that's running NoteChain. Furthermore, even though NoteChain is dead, 
                    you can still write and read your notes.
                    </p>

                    <h5>What if this website is down?</h5>
                    <p>
                    Besides the main website (<a target="_blank" href="https://notechain.org/">notechain.org</a>),
                    we also have a mirror in <a target="_blank" href="https://notechain.github.io/">notechain.github.io</a>.
                    </p>
                    <p>
                    Or you can host the front-end client by yourself. 
                    To do that please you can generate it by yourself using the code at
                        <a target="_blank" href="https://gitlab.com/notechain/front-end-generator">gitlab.com/notechain/ front-end-generator</a>.
                        or just used the generated one in
                    <a target="_blank" href="https://github.com/notechain/notechain.github.io">Github</a>
                    or <a target="_blank" href="https://gitlab.com/notechain/notechain">Gitlab</a>.
                    </p>

                    <h5>Will you take responsibilty for any illegal use?</h5>
                    <p>
                    Should the knife inventor responsible for every murder by a knife?
                    </p>


                    <h5>What if I have more questions?</h5>
                    <p>Go to <a target="_blank" href="https://github.com/notechain/notechain.github.io/issues">github issues</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as SmartContract from "./js/contract_conf.js"

export default {
  name: 'Reader',
  components: {
  },
  data() {
          return {
                URL_root : document.URL.substring(0, document.URL.indexOf('#')),
                contract_address : SmartContract.CONTRACT_ADDRESS,
          }
  }
}
</script>


