<template>
  <div class="dashboard content">
        <div class="row">
                <div class="note_list col-sm-4 col-md-3">
                        <ul>
                           <transition-group name="page-in" enter-active-class="animated fadeInUp" leave-active-class="animated bounceOutLeft" >
                                <li :key="'new'" v-if="!ActiveNote._isNew" v-on:click="newNote" class="add_new_note"><i class="icon mdi mdi-plus-circle-outline" slot="extra"></i> new note</li>
                                <li :key="'new'" v-if="ActiveNote._isNew" class="add_new_note note_active"> new note <i class="icon mdi mdi-arrow-right-bold" slot="extra"></i></li>
                                <li class="note_item" :class="{ 'note_active' : note_id == data.noteId}" v-for="(data, index) in notes" :key='index' v-on:click='WriteNote(data)'>
                                        {{data._title}}
                                        <span v-if="data._title.length == 0">
                                                No Title
                                        </span>
                                        <span v-if="!data.isSynced">
                                            <span class="rotate">
                                                <i class="icon mdi mdi-sync" slot="extra"></i>
                                            </span>
                                        </span>
                                </li>
                            </transition-group>
                        </ul>
                </div>
                <div class="note col-sm-8 col-md-9">
                        <p v-if="!note_id" class="p-40">
                                No note selected..
                        </p>
                        <Note :class="{ 'hidden': !note_id }" 
                                :ActiveNote="ActiveNote" />
                </div>
        </div>
  </div>
</template>

<script>
import Note from './Note.vue'

import * as SmartContract from "./contract.js"

var ActiveNote = SmartContract.getInvalidNote();

export default {
  name: 'dashboard',
  components: {
    Note
  },
  data() {
          return {
                note_id : this.$route.params.note_id,
                ActiveNote : ActiveNote,
                totalNotesCount : 0,
                notes: []
          }
  },
  methods : {
          WriteNote: function(d) {
                this.ActiveNote = d;
                //this.note_id = d.noteId;
                this.$router.push({ name: 'write', params: { note_id : d.noteId }}); 
                if (!d._isFetched) {
                  SmartContract.loadMyNote(this, d.noteId);
                }
          },
          newNote: function() {
                //console.log('newNote');
                this.NewNote = SmartContract.getInitializedNote(this.totalNotesCount);
                this.ActiveNote = this.NewNote;
                //this.note_id = this.NewNote.noteId;
                this.$router.push({ name: 'write', params: { note_id : this.NewNote.noteId }}); 
          }
  },
  created: function () {
          if (!SmartContract.isKeySet()) {
                this.$router.push({ name: 'Login'}); 
          }
          //console.log('created');
          if (!SmartContract.hasLoggedIn()) {
                SmartContract.init(this, true);
                SmartContract.initializeDashboard(this);
          }
          if (SmartContract.hasLoggedIn() && (typeof this.note_id) == "undefined") {
                //console.log('initializeDashboard');
                SmartContract.initializeDashboard(this);
        }
  },
  updated: function () {
        this.note_id = this.$route.params.note_id;
  },
  destroyed: function () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note_list {
    padding-right:0;

  }

  .note {
    border-left: 2px solid #eee;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding: 20px;
    font-size: 1em;
    color: #3E5252;
    cursor: pointer;
  }
  
  ul li.add_new_note {
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 5px solid #02B875;
    color: #3E5252;
  }

  ul li.note_item {
    font-size: 1.3em;
    border-left: 5px solid #4582EC;
    color: #3E5252;
  }
  ul li.note_active {
          text-align:right;
    border-left: 5px solid #fff;
    color: #fff;
    background: #4582EC;

  }
  ul li:hover {
          opacity: 0.8;
  }

  p {
    text-align:center;
    color: gray;
  }
  .rotate {
      display: inline-block;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
