<template>
  <div class="home content">
        <div class="p-40">
          <h1 class="mt-20 display-3">Write Without Limits</h1>
          <div class="lead mt-20 mb-20">By leveraging the power of Ethereum Blockchain, you can write anything you want without control of any entity.</div>
          <p class="mb-20">
            <router-link to="/write" class="mb-20 w-200 btn btn-lg btn-primary" href="#" role="button">Start Writing</router-link>
            &nbsp;
            <router-link to="/read"><a class="mb-20 w-200 btn btn-lg btn-outline-primary" href="#" role="button">Read A Note</a></router-link>
          </p>
        </div>
        <hr />
        <div class="row p-40 mt-20">
          <div class="mt-20 col-6 col-md-3">
            <h4>Eternal</h4>
            <p>Always running and can't be stopped by anyone.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Decentralized</h4>
            <p>Everyone owns it yet in the same time no one really does.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Secure</h4>
            <p>All data is securely encrypted before leaving your browser.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Uncensorable</h4>
            <p>Data on blockchain can't be removed or modified.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Private</h4>
            <p>Write notes which can be read by no one else but you.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Transparent</h4>
            <p>Code which run NoteChain is viewable by everyone.</p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Unbinding</h4>
            <p>
              Self host this on your own laptop and be independent.
            </p>
          </div>
          <div class="mt-20 col-6 col-md-3">
            <h4>Shareable</h4>
            <p>Each note can be made public and shared with an ID.</p>
          </div>
        </div>
  </div>
</template>

