<template>
  <div class="Login content">
        <div class="row">
          <div class="col-12 col-md-8 text-center offset-md-2 p-40">
            <h3>Login to NoteChain</h3>
            <p>
                Before you start, please sign a message that you want to 
                login with to NoteChain.
            </p>
            <button @click="doLogin" class="btn btn-lg btn-primary w-200">Sign Message</button>
            <br/>
            <p v-if="signMessageClicked" class="mb-20">
            <br/>
            A metamask dialog like below is popped up if you don't notice it:
            <br/>
            <br/>
            <img src="../assets/sign-message.png" >
            </p>
          </div>
        </div>
  </div>
</template>



<script>
import * as SmartContract from "./contract.js"
export default {
  name: 'Login',
  components: {
  },
  data() {
          return {
                errMessage : '',
                signMessageClicked : false,
        }
  },
  methods: {
        doLogin : function() {
            this.signMessageClicked = true;
                SmartContract.getKey(this);
        }
  },
  created: function () {
          if (SmartContract.isKeySet()) {
                this.$router.push({ name: 'dashboard'}); 
          }
  },
  props: {
  }
}
</script>
