<template>
        <div class="">
                <div class="alert alert-primary message_box_text">
                <h4>
                Please use Brave browser or install Metamask Chrome Extension.
                </h4>
                </div>
                <div class="message_box">
                </div>
        </div>
</template>

<script>
export default {
  name: 'MessageBox',
  props: {
  }
}

</script>

<style scoped>

    /* Absolute Center Spinner */
.message_box, .message_box_text {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.message_box_text {
  z-index: 9999;
  width: 300px;
  height: 200px;
  font-size: 1em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 5px #555;
}

/* Transparent Overlay */
.message_box:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69,130,236,0.4);
}

/* :not(:required) hides these rules from IE9 and below */
.message_box:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.message_box:not(:required):after {
  content: '';
  display: block;
}

</style>
