<template>
  <div class="NoMainnet content">
        <div class="row">
          <div class="col-12 col-md-8 text-center offset-md-2 p-40">
            <h3>NoteChain is on MainNet</h3>
            <p>
                Please switch to Main Ethreum Network and refresh NoteChain.
            </p>
            <img src="../assets/metamask-select-mainnet.png" >
          </div>
        </div>
  </div>
</template>



