<template>
    <div>
        <div v-if="!ActiveNote.isDecrypted" class="mt-20 text-center col-12 col-md-8 offset-md-2">
            <p>
            This note is protected, please enter password to open it:
            </p>
            <input v-if="ActiveNote.isEncrypted && !ActiveNote.isPrivate" v-model="ActiveNote.password" 
                    :class="{ 'w-200' : true, 'password' : true, 'form-control' : true }" 
                    type="password" placeholder="Enter password.." name="Password">
            <button class="w-200 mt-20 btn btn-lg btn-primary" :disabled="ActiveNote.password.length < 8"
                    @click="decryptNote">Open Note</button>
        </div>
        <transition v-else name="page-in" enter-active-class="animated fadeInRight" >

        <form :key="ActiveNote.noteId" class="row" @submit.prevent="">
            <div v-if="!ActiveNote.isSynced" class="col-10 offset-1 col-md-8 offset-md-2 alert alert-info text-center mt-20">
                This note is still in the process of syncronization with blockchain. 
                <br>
                Once it is syncronized, you can edit this note again.
                <br>
                Transaction ID: <a target="_blank" :href="'http://etherscan.io/tx/'+ActiveNote.TXID">{{ActiveNote.TXID.slice(0,18)}}..</a>
            </div>

            <div v-if="!ActiveNote._isNew && !ActiveNote.isDecrypted" class="col-12">
                <div class="form-group has-danger">
                    <input v-model="DecryptPassword" 
                     :class="{ 'password' : true, 'form-control' : true, 'is-invalid' :  checkDecryptPassword }" 
                     type="password" placeholder="Enter password.." name="DecryptPassword">
                    <div v-if="checkDecryptPassword" class="invalid-feedback">Password should be at least 8 characters</div>
                </div>
            </div>
        <div class="col-12 mt-20">
            <div class="form-group has-danger">
                <input :disabled="!ActiveNote.isSynced" class="title form-control" type="text" placeholder="Enter Title.." v-model="ActiveNote.title" name="Title"  maxlength="12">
            </div>

        </div>
        <div class="col-12 mb-20">
            <div class="form-group">
                <textarea :disabled="!ActiveNote.isSynced" class="form-control" v-model="ActiveNote.content" rows="9" placeholder="Enter content.."></textarea>
            </div>
        </div>

        <div class="col-12 mb-20" v-if="ActiveNote.isSynced" >
            <div class="row">
                <div class="col-12 mb-20">
                    <p-check v-model="ActiveNote.isPrivate" class="p-icon p-plain" off-color="info-o" color="primary-o" toggle>
                        <i class="icon mdi mdi-eye-off" slot="extra"></i>
                        Private
                        <i class="icon mdi mdi-eye" slot="off-extra"></i>
                        <label slot="off-label">Public</label>
                    </p-check>
                    <a :href="'#/read/'+ActiveNote.noteId" target="_blank" v-bind:class="{'text-lt':ActiveNote.isPrivate}">{{URL_root}}#/read/<b>{{ActiveNote.noteId}}</b></a>
                    <span v-if="ActiveNote._isNew" class="text-warning" v-tooltip="'URL is not fixed until it\'s submitted.'"> (!)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-20">
                    <span v-if="ActiveNote.isPrivate" class="text-success">
                        <i class="icon mdi mdi-lock text-success" slot="extra"></i>
                        Encrypted with your signed message
                        <span class="text-info"  v-tooltip="'Your signed message produces a unique and robust password.'"> (?)</span>
                    </span>
                    <p-check v-else v-model="ActiveNote.isEncrypted" class="p-icon p-plain" off-color="danger-o" color="success-o" toggle>
                        <i class="icon mdi mdi-lock" slot="extra"></i>
                        Encrypted 
                        <i class="icon mdi mdi-lock-open" slot="off-extra"></i>
                        <label slot="off-label" class="text-danger">Unencrypted</label>
                    </p-check>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <input v-if="ActiveNote.isEncrypted && !ActiveNote.isPrivate" v-model="ActiveNote.password" 
                        :class="{ 'password' : true, 'form-control' : true, 'is-invalid' :  checkPassword }" 
                        type="password" placeholder="Enter password.." name="Password">
                        <div v-if="checkPassword" class="invalid-feedback">Password should be at least 8 characters</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <input v-if="ActiveNote.isEncrypted && !ActiveNote.isPrivate" v-model="ActiveNote.password2" 
                        :class="{ 'password' : true, 'form-control' : true, 'is-invalid' :  checkPassword2 }" 
                        type="password" placeholder="Confirm password.." name="Password">
                        <div v-if="checkPassword2" class="invalid-feedback">Confirm password is not identical</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div v-if="ActiveNote.isEncrypted && !ActiveNote.isPrivate" class="text-center" >
                        <vue-slider :key="ActiveNote.noteId" ref="slider" v-model="ActiveNote.encryptionLevel" v-bind="SliderOptions"></vue-slider>
                        {{ iterationsSafety }} <br><small v-tooltip="'It will take an attacker roughly '+timeCountGuess+' to try 1 million passwords'">encryption time ±{{timeCount}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 button_panel mb-20">
                    <button class="btn btn-lg btn-primary" 
                            :disabled="!isSubmitable"
                            @click="submitNote">Submit to Blockchain</button>
                    &nbsp;
                    <button class="btn btn-lg btn-link" 
                            :disabled="!isChanged" 
                            @click="resetNote">Reset</button>
                    <br/>
                    <small :class="{ 'text-muted': !isChanged }">Estimated cost: {{ estimatedCost }} 
                        <span class="text-info" v-tooltip="'This is an estimation with gas price set to '+gasPrice+' gwei'"> (?)</span>
                    </small> 
                    <div class="mt-20" >
                        <button :disabled="ActiveNote._isNew" class="btn btn-sm btn-danger" v-on:click="deleteNote">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        </transition>
    </div>
</template>

<script>
import vueSlider from 'vue-slider-component'
import * as SmartContract from "./contract.js"

var noteChainFee;
var ethToUSDUpdated = false;
var ethToUSD = 650;

function getPrice(t, name, addr, func) {
    if (ethToUSDUpdated)
        return;
    let request = new XMLHttpRequest();

    request.open('GET', addr, true);

    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            try {
                let resp = JSON.parse(request.responseText);
                func(resp);
            } catch (err) {
                SmartContract.showError(t, err);
                SmartContract.showError(t, "Can't connect to "+name+" API, the USD estimation cost may won't be valid.");
            }
        } else {
            SmartContract.showError(t, "Can't connect to "+name+" API, the USD estimation cost may won't be valid.");
        }
        ethToUSDUpdated = true;
        SmartContract.showNotification(t, "Using exchange rates of 1 ETH = "+ethToUSD+" USD from "+name+" API");
    };
    request.send();

}

function getPriceFromCMC(t) {
    getPrice(t, 'CoinMarketCap', 'https://api.coinmarketcap.com/v1/ticker/ethereum/', function(resp) {
        ethToUSD = Math.floor(resp[0]['price_usd']);
    });
}

function getPriceFromCC(t) {
    getPrice(t, 'CryptoCompare', 'https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=USD', function(resp) {
        ethToUSD = Math.floor(resp['USD']);
    });
}

function getPriceFromCB(t) {
    getPrice(t, 'Coinbase', 'https://api.coinbase.com/v2/exchange-rates?currency=ETH', function(resp) {
        ethToUSD = Math.floor(resp['data']['rates']['USD']);
    });
}

function getPriceFromGemini(t) {
    getPrice(t, 'Gemini', 'https://api.gemini.com/v1/pubticker/ethusd', function(resp) {
        ethToUSD = Math.floor(resp['last']);
    });
}

export default {
    name: 'Note',
    components: {
        vueSlider
    },
    data() {
        return {
            URL_root : document.URL.substring(0, document.URL.indexOf('#')),
            DecryptPassword : "",
            Password : "",
            gasPrice : 1,
            Password2 : "",

            SliderOptions: {
                eventType: 'auto',
                width: '90%',
                height: 6,
                dotSize: 16,
                min: 0, // in 2018, this is the enough,
                max: 4, // increase these values after every X years
                dotHeight: null,
                dotWidth: null,
                interval: 1,
                show: true,
                speed: 0.5,
                disabled: false,
                tooltip: false,
                tooltipDir: 'top',
                reverse: false,
                clickable: true,
                realTime: false,
                lazy: false,
                formatter: null,
                bgStyle: null,
                sliderStyle: 
                {
                    "backgroundColor": "#4582EC"
                }
                ,
                processStyle: {
                    "backgroundColor": "#4582EC"
                },

            },
        }
    },
    created: function () {

        if (SmartContract.isKeySet()) {
            switch (Math.floor(Math.random() * 4)) {
                case 0:
                getPriceFromCMC(this);
                break;
                case 1:
                getPriceFromCC(this);
                break;
                case 2:
                getPriceFromCB(this);
                break;
                case 3:
                getPriceFromGemini(this);
                break;
            }
          }

        this.gasPrice = SmartContract.getGasPrice()/Math.pow(10,9); // in gwei
    },
    computed: {
        checkDecryptPassword: function () {
            return this.DecryptPassword.length > 1 && this.DecryptPassword.length < 8;
        }, 
        checkPassword: function () {
            return this.ActiveNote.password.length > 1 && this.ActiveNote.password.length < 8;
        }, 
        checkPassword2: function () {
            return (this.ActiveNote.password2 != this.ActiveNote.password) && this.ActiveNote.password2.length >= 6;
        }, 
        iterationsSafety: function () {
            switch (this.ActiveNote.encryptionLevel) {
                case 0:
                return "Okay";
                case 1:
                return "Good";
                case 2:
                return "Strong";
                case 3:
                return "Very Secure";
                case 4:
                return "Impregnable";
            }
        }, 
        timeCountGuess: function () {
            var e = Math.pow(2, this.ActiveNote.encryptionLevel);
            var c = e*11.5;
            if (c<30) {
                return Math.round(c) + " days";
            } else if (c<30*12) {
                c *= 10;
                return Math.round(c/(30))/10 + " months";
            } else {
                c *= 10;
                return Math.round(c/(30*12))/10 + " years";
            }
        },
        timeCount: function () {
            let e = Math.pow(2, this.ActiveNote.encryptionLevel);
            let c = e*2.1*2;
            if (c<60) {
                return Math.round(c) + " seconds";
            } else if (c<60*60) {
                return Math.round(c/(60)) + " minutes";
            } else {
                c *= 10;
                return Math.round(c/(60*60))/10 + " hours";
            }
        },
        estimatedCost: function() {
            // create with 0 chars of content -> 142917 gass (consider this as basic)
            // create with 128 chars of content -> 216746 gass ~ 576/chars
            // create with 512 chars of content -> 468771 gass ~ 636/chars + 10%
            // create with 2048 chars of content -> 1536940 gass ~ 680/chars + 7%
            // create with 4096 chars of content -> 2976045 gass ~ 691/chars
            // updateTitle 29369 gass
            // update 1  34417 ~ /chars
            // update 128 58249 ~ 186/chars

            let gas_count = 0; // gas 
            let char_price; // in gas
            let titleLen = this.ActiveNote.title.length;
            let len = this.ActiveNote.content.length;
            if (len < 128) {
                char_price = 575;
            } else if (len < 1024) {
                char_price = 650;
            } else {
                char_price = 700;
            }

            len *= 1.33;

            if (this.ActiveNote._isNew && (len>0 || titleLen>0) ) {
                gas_count += 143000;
                gas_count += len*char_price;
            } else {
                let shouldChangeContent = false;
                if (this.ActiveNote._encryptionLevel != this.ActiveNote.encryptionLevel ||
                    this.ActiveNote._isPrivate != this.ActiveNote.isPrivate ||
                    this.ActiveNote._isEncrypted != this.ActiveNote.isEncrypted 
                    )  {
                    gas_count += 5000;
                    shouldChangeContent = true;
                }
                if (this.ActiveNote._title != this.ActiveNote.title)  {
                    gas_count += 5000; 
                }
                if (shouldChangeContent || this.ActiveNote._content != this.ActiveNote.content)  {
                    gas_count += len*char_price;
                }

                if (gas_count)
                    gas_count += 30000;
            }
            if (gas_count) {
                noteChainFee = SmartContract.getNoteChainFee()/(Math.pow(10,9)); // in gwei
                SmartContract.setGasBudget(gas_count);
            } else {
                noteChainFee = 0;
            }

            let execution_cost = (gas_count*this.gasPrice + noteChainFee)/(Math.pow(10,9));
            let execution_cost_fiat = execution_cost*ethToUSD;
            execution_cost = Math.round(execution_cost*10000)/10000;
            execution_cost_fiat = Math.round(execution_cost_fiat*100)/100;
            return execution_cost + " ETH (~$ "+execution_cost_fiat+")";
        },
        isChanged: function() {
            if (
            this.ActiveNote._title != this.ActiveNote.title ||
            this.ActiveNote._content != this.ActiveNote.content ||
            this.ActiveNote._isPrivate != this.ActiveNote.isPrivate ||
            (!this.ActiveNote._isPrivate && 
            (this.ActiveNote._isEncrypted != this.ActiveNote.isEncrypted ||
            this.ActiveNote._encryptionLevel != this.ActiveNote.encryptionLevel)
            )
            ) {
                return true;
            } else {
                return false;
            }
        },
        isSubmitable: function() {
            if (
            this.ActiveNote._title != this.ActiveNote.title ||
            this.ActiveNote._content != this.ActiveNote.content ||
            this.ActiveNote._isPrivate != this.ActiveNote.isPrivate ||
            (!this.ActiveNote._isPrivate && 
            (this.ActiveNote._isEncrypted != this.ActiveNote.isEncrypted ||
            this.ActiveNote._encryptionLevel != this.ActiveNote.encryptionLevel)
            )
            ) {
                if (!this.ActiveNote.isPrivate && this.ActiveNote.isEncrypted) {
                    if (this.ActiveNote.password.length < 8) {
                        return false;
                    }
                    if (this.ActiveNote.password != this.ActiveNote.password2) {
                        return false;
                    }
                }
                if (this.ActiveNote.content.length == 0 && this.ActiveNote.title.length == 0) {
                    return false;
                }
                return true;
            } else {
                return false;
            }
        }
    },
    methods : {
        deleteNote: function() {
            this.ActiveNote.deleteThis(this);
        },
        submitNote: function() {
            this.ActiveNote.submitNote(this);
        },
        decryptNote: function() {
            this.ActiveNote.decryptContent(this);
        },
        resetNote: function() {
            this.ActiveNote.resetNote();
        }
    },
    props: {
        ActiveNote : Object,
    }
}
</script>

<style scoped>
input, textarea {
    font-family: 'Montserrat', sans-serif;
    width: calc(100% - 40px);
    border: 0;
    border-bottom: 1px solid #ddd;
    color: #333;
}
input.title {
    width: calc(100% - 40px);
}
input.password {
    width: calc(100% - 40px);
}
.button_panel {
    text-align:center;
}
.animated {
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
</style>
