<template>
  <div class="NoWallet content">
        <div class="row">
          <div class="col-12 col-md-8 text-center offset-md-2 p-40">
            <h3>Want to write?</h3>
            <p>
            You’ll need a wallet like <a target="_blank" href="https://metamask.io">MetaMask</a> 
            or 
            <a target="_blank" href="https://trustwalletapp.com/">Trust</a> (mobile)
            . 
            <br/>
            This will also act as your login (no extra password needed).
            </p>
            <p>
            It's not necessary if you just want to <router-link to="/read">read</router-link>.
            </p>
          </div>
        </div>
  </div>
</template>



