<template>
    <div class="Dashboard p-20">
        <div v-if="note_id && (ActiveNote.title||ActiveNote.content)" class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h1>{{ActiveNote.title}} <small>(#{{note_id}})</small></h1>
                <pre v-if="ActiveNote.isDecrypted" class="mt-20">{{ActiveNote.content}}</pre>
                <div v-else class="mt-20">
                    <p>
                        This public note is protected, please enter password to open it:
                    </p>
                    <input v-if="ActiveNote.isEncrypted && !ActiveNote.isPrivate" v-model="ActiveNote.password" 
                     :class="{ 'w-200' : true, 'password' : true, 'form-control' : true }" 
                     type="password" placeholder="Enter password.." name="Password">
                    <button class="mt-20 btn btn-lg btn-primary" :disabled="ActiveNote.password.length < 8"
                        @click="decryptNote">Open Note</button>
                </div>
            </div>
        </div>
        <form v-if="!note_id" class="row" @submit.prevent="">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <div class="p-20">
                    <h2>
                        Please input note ID below:
                    </h2>
                    <br/>
                    <div class="form-group has-danger">
                        <input type="text" 
                               :class="{ 'form-control' : true, 'is-invalid' :  checkNoteId }" 
                               placeholder="Enter Note ID.." 
                               v-model="requestedNoteId" 
                               name="requestedNoteId">
                        <div v-if="checkNoteId" class="invalid-feedback">ID is at least 5 characters</div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary w-200" v-if="requestedNoteId.length >= 5" 
                            @click="readNote">Read</button>
                </div>
            </div>
        </form>
        <div class="text-center alert alert-danger" v-if="showError" >
            Note <b>{{note_id}}</b> is not found/deleted/private.
            <br/>
        </div>
        <div class="text-center mt-20 mb-20">
            <a :class="{ 'hidden': !note_id }" href="#" @click="tryAnother">try another code</a>
        </div>
    </div>
</template>

<script>
import * as SmartContract from "./contract.js"

var ActiveNote = SmartContract.getInvalidNote();

export default {
  name: 'Reader',
  components: {
  },
  data() {
          return {
                note_id : this.$route.params.note_id,
                content : '',
                displayedNoteId : '',
                requestedNoteId : '',
                showError : false,
                ActiveNote : ActiveNote,
          }
  },
  methods : {
          tryAnother: function() {
                this.showError = false;
                this.note_id = 0;
                this.ActiveNote = SmartContract.getInvalidNote();
                this.$router.go(-1); 
          },
          readNote: function() {
                  SmartContract.loadNote(this, this.requestedNoteId);
                  this.$router.push({ name: 'read_note', 
                    params: { note_id : this.requestedNoteId }}); 
          },
          decryptNote: function() {
              this.ActiveNote.decryptContent(this);
          },
    },
    computed: {
        checkNoteId: function () {
            return this.requestedNoteId.length < 5 & this.requestedNoteId.length > 0;
        }, 
  },
  props: {
  },
  watch: {
        '$route' (to, from) {
        }
  },
  created: function () {
        this.displayedNoteId = this.$route.params.note_id; 
        SmartContract.init(this, false);
        if ( this.$route.params.note_id )  {
                SmartContract.loadNote(this, this.$route.params.note_id )
                this.$router.push({ name: 'read_note', 
                params: { note_id : this.$route.params.note_id }}); 
        }
  },
  updated: function () {
  }
}
</script>

<style scoped>
  .Dashboard {
    background: #fff;
  }
  pre {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
  }

</style>
