<template>
  <div id="app">
    <h1><router-link class="text-black" to="/">NoteChain</router-link></h1>
    <hr />

    <transition name="page-in" >
        <router-view />
    </transition>

    <hr />
    <div class="footer mb-20">
    <router-link to="/about">About</router-link>
    • 
    Made by <a target="_blank" href="https://twitter.com/@the_dave_santos">@the_dave_santos</a>
    </div>
    <notifications position="top center" classes="notechain-notification"/>
    <Loader />
  </div>
</template>

<script>
import Dashboard from './components/Dashboard.vue'

export default {
  name: 'app',
  components: {
    Dashboard
  },
}

</script>

<style>
/*
@import url('https://notechain.github.io/assets/css/bootstrap.min.css');
@import url('https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css');
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
*/

body {
  background-color: #f9f9fc;
  font-family: 'Montserrat', sans-serif !important;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: top;
}

body, html {
    margin: 0;
    height: 100%;
}
#app {
    width: 95%;
    max-width: 1200px;
    padding-top: 15px;
}
input {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-bottom: 1px solid #ddd;
    color: #323333;
}

.mb-20 {
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.w-400 {
        width: 400px;
}

.w-600 {
        width: 600px;
}

.w-200 {
        width: 200px;
}

.p-20 {
        padding: 20px;
}
.p-40 {
        padding: 40px;
}
.footer {
        text-align: center;
        font-size: 0.8em;
        color: #666;
}
.text-center {
        text-align: center;
}

.text-lt {
        text-decoration: line-through;
        cursor:default;
}
.text-lt:hover {
        text-decoration: line-through;
        cursor:default;
}

.page-in-enter-active {
  animation: fade-in .5s ;
}
.page-in-leave-active {
    opacity: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  .hidden {
        opacity:0;
        display: none;
  }
  .content {
    background: #fff;
  }

.vue-tooltip {
    max-width: 480px;
    text-align:center;
  }
.tooltip-arrow {
  display:none !important;
  opacity:0 !important;
}

.notechain-notification {
    padding: 10px;
    margin: 0 5px 5px;
    color: #ffffff;
    border-left:0;
    margin-top: 5px;
    background: #4582EC;
    font-size: 14px;
}
.notechain-notification.warn {
    background: #f0ad4e;
}

.notechain-notification.error {
    background: #d9534f;
}

.notechain-notification.normal {
    background: #4582EC;
}

.notechain-notification.success {
    background: #02B875;
}


.text-black {
    color:#111;
}
</style>
